<div class="col-md-12 text-center">
  <h1>Just Calculator</h1>
    <div class="container">
      <label for="">"Input the 1st Number"</label>
      <br>
      <input (input)="getValue(number1.value)" type="text" #number1/>
      <br>
<label for="" >"Input the 2nd number" </label>
      <br>
      <input (input)="getValue2(number2.value)" type="text" #number2/>
    </div>
    <br>
    <div class="container">
      <button (click)="add()" class="btn btn-secondary mr-2">+</button>
      <button (click)="sub()" class="btn btn-secondary mr-2">-</button>
      <button (click)="multi()" class="btn btn-secondary mr-2">*</button>
      <button (click)="div()" class="btn btn-secondary mr-2">/</button>
    </div>

    <br>

    <h2>Answer: {{result}}</h2>


</div>